

body {
  /* background-color: rgba(17, 17, 33, 0.438); */

  /* background-color: rgba(18, 33, 17, 0.185); */
  /* background-color:'wheat'; */
  background-color: #f5deb305;
  /* background-color: 'white'; */
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}


.ͼ1.cm-focused {
  outline: none;
}

.ͼ1b.cm-focused {
  outline: none;
}

.cm-gutters {
  background-color: #f5deb305 !important;
  border-right: none !important;
}

.cm-activeLineGutter {
  background-color: #f5deb305 !important;
}

.cm-content{
  background-color: #f5deb305 !important;
}

.cm-activeLine {
  background-color: #f5deb305 !important;
}


select:not{
  overflow: hidden !important;
}

